.about-us {
    padding: 60px 20px;
    background-color: #fdf5e6;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-us h1 {
    font-size: 40px;
    font-weight: bold;
    color: #b03a2e;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size:30px;
    font-weight: bold;
    color: #8b0000;
    margin-top: 20px;
  }
  
  .about-text p {
    font-size: 18px;
    line-height: 1.8;
    color: #444;
  }
  
  .about-text strong {
    color: #b03a2e;
  }
  
  .about-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition:0.3s ease-in-out;
  }
  
  .about-image:hover {
    transform: scale(1.05);
  }
  

  @media (max-width: 768px) {
    .about-us {
      text-align: center;
    }
  
    .about-text {
      margin-bottom: 20px;
    }
  }
  