
.cartPageContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  font-family: 'Arial', sans-serif;
}

.cartItems {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  gap: 20px;
}

.cartItemImage {
  width: 18%;  
  object-fit: cover;
  border-radius: 8px;
}

.cartItemDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartItemDetails p {
  font-size: 14px;
  margin: 0;
  color: #333;
}

.cartItemDetails h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cartItemPrice {
  font-size: 18px;
  color: #4CAF50;
  font-weight: 600;
}

.originalPrice {
  text-decoration: line-through;
  color: #888;
  margin-left: 10px;
}

.cartItemActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-description {
  display: flex;
  gap: 80px;
}

.remove-cart-item {
  display: flex;
  align-items: center;
}

.item-quantity {
  margin-left: 20px;
  margin-right: 20px;
}




.cartSummary {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.termsAndConditions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.termsAndConditions input {
  margin-top: 2px;
}

.cartButtons {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.cartButtons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2196F3;
  width: auto;
  margin: 5px;
}
.label{
  border-bottom: 1px solid black;
  cursor: pointer;
}

.cartButtons button:hover {
  background-color: #1976D2;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 600px;
  width: 80%;
}

.modal-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.modal-footer button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-footer button:hover {
  background-color: #45a049;
}




@media (max-width: 768px) {
  .cartPageContainer {
    padding: 10px;
  }

  .cartItems {
    gap: 15px;
  }

  .cartItem {
    flex-direction: column; 
    align-items: flex-start;
    padding: 15px;
  }

  .cartItemImage {
    width: 100%; 
    height: auto;
    margin-bottom: 15px;
  }

  .cartItemActions {
    justify-content: flex-start;
  }

  .cartSummary {
    padding: 15px;
  }

  .cartButtons button {
    font-size: 14px;
    padding: 12px;
    width: 150px; 
    text-align: center;
  }
  .item-description{
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
  }
  .item-quantity {
    margin-left: 10px;
    margin-right: 10px;
  }
}
