.contact-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  
  .map-container {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .contact-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-info>h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-info > p {
    padding-bottom: 10px;
    font-size: 16px;
    color: #555;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h3 {
    text-align: center;
    color: #333;
  }
  
  .contact-form .intro-text {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
  }
  
  .form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .field-group {
    width: 48%;
    margin-bottom: 15px;
  }
  
  .field-group-comment {
    width: 100%;
  }
  
  .contact-form label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .checkbox input {
    margin-right: 10px;
  }
  .error{
    color: red;
    margin-bottom: 5px;
  }
  .contact-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    font-size: 14px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .contact-btn:hover {
    background-color: #0056b3;
  }
  

  @media (max-width: 768px) {
    .field-group {
      width: 100%;
    }
  
    .checkbox {
      margin-left: 0;
    }
  
    .contact-btn {
      width: 100%; 
    }
  }

  
/*2*/
.contact-sec-1-wrapper{
  padding: 40px 0;
}
.cont-hts{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.cont-inner-wrap{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
}
.cont-w-sec{
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #e4e4e4  ;
}
.cont-inner-wrap .contLink{
  color: #212529;
  text-decoration: none;
  font-size: 15px;
}
.subd-h-cnt{
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}
.contct-l0wrap .cont-w-sec:first-child{
  padding-top: 0;
}
.cont-inner-wrap svg{
  font-size: 16px;
}
.contact-inp-f{
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 7px;
  padding: 6px 15px;
}
.contact-inp-f::placeholder{
  font-size: 14px;
}
.contact-lab-f{
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}
.inp-cnt-wrap{
  padding-bottom: 30px;
}
.cont-text-area{
  resize: none;
}
.form-sub-btn-contact{
  width: 100%;
  border: 0;
  background: #000;
  color: #fff;
  border-radius: 30px;
  padding: 10px;
}
.contct-l0wrap{
  padding-right: 15%;
}
.contact-sec-2-wrapper{
  padding: 60px 0 10px;
}
.error-msg{
  color: #b00000;
  font-size: 12px;
}
@media only screen and (min-width:768px) and (max-width:1023px){
  .contct-l0wrap{
    padding-right: 5%;
  }
  .cont-w-sec {
    padding-bottom: 30px;
    padding-top: 8px;
    border-bottom: 1px solid #e4e4e4;
}
}
@media only screen and (max-width:767px){
  .contct-l0wrap{
    padding-right: 2%;
  }
  .cont-w-sec {
    padding-bottom: 30px;
    padding-top: 8px;
    border-bottom: 1px solid #e4e4e4;
}
}