
.final-price{
    font-size: 20px;
    font-weight: bold;
}
.chk-out{
    padding: 20px;
}
.form-contains{
    padding: 7px 32px;
    border: 1px solid black;
    border-radius: 10px;
}
.form-group{
    padding: 10px;
}
.crt-details{
    padding-left: 26px;
}
.crt-details>h3{
    font-size: 20px;
   
}
.img-fluid{
    border-radius: 10px;
}
.chkout-summary{
   padding-left: 23px;
}

@media (max-width: 767px) {
    .chkout-summary{
        padding-top: 25px;
    }
    .form-control{
        padding: 7px;
    }
   

}