
.nav-wrapper{
    padding: 12px 0;
    box-shadow: 1px 2px 28px -5px rgb(0 0 0 / 14%);
}
.nav-ul-wrapper{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
ul.nav-ul-wrapper .nav-item .nav-link{
    font-size: 14px;
    font-weight: 600;
}
ul.nav-ul-wrapper .nav-item .nav-link svg{
    font-size: 17px;
    font-weight: 600;
}
.prod-count{
    position: relative;
}

.prod-count-num{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    background: #000;
    color: #fff;
    font-size: 10px;
    border-radius: 100%;
    top: -5px;
    left: 89%;
}
.nav-c-icon{
    gap: 35px;
}
.nav-toggle-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    gap: 5px;
}
.nav-toggle-btn span{
    width: 23px;
    height: 2px;
    background: #000;
    border-radius: 15px;
}

.mob-toggle-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
}
.mob-nav-close-btn{
    display: flex;
    background: transparent;
    border: 0;
    align-items: center;
    justify-content: center;
}
.mob-nav-close-btn svg{
    font-size: 30px;
}
@media only screen and (max-width:767px){
    .nav-c-icon{
        gap: 20px;
        justify-content: center !important;
    }
    .mon-nav-ul{
        position: fixed;
        flex-direction: column;
        width: 90%;
        height: 100%;
        background: #ffffff;
        top: 0;
        z-index: 1;
        left: 100%;
        align-items: start;
        transition: 1s;
        border: 1px solid #f3f3f3;
    }
    .mon-nav-ul .nav-item{
        margin: 0px 25px;
    }
    ul.nav-ul-wrapper .nav-item .nav-link{
        font-size: 16px;
    }
    .mob-toggles-show{
        left: 11%;
        transition: 1s;
    }
}
.bg-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #7d7d7d;
    top: 0;
    left: 0;
}
