.hm-cat-wrapper{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}
.hm-cat-h-wrapper-body{
    position: absolute;
    z-index: 1;
    background: #f8f5f2;
    padding: 20px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    bottom: -80%;
    transition: .8s;
}
.hm-cat-wrapper:hover .hm-cat-h-wrapper-body{
    bottom: 5%;
    transition: .8s;
}
.hm-cat-wrapper:hover img{
    transform: scale(1.1);
    transition: 0.3s;
}