.login-wrapper{
    width: 60%;
    margin: 70px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow:  rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.login-heading{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.login-form-wrapper{
    margin-top: 25px;
}
.login-input{
    border: 0 !important;
    border-bottom: 1px solid #30373e !important;
    border-radius: 0 !important;
    padding-left: 42px !important;
}
.login-input::placeholder{
    font-size: 14px ;
    font-weight: 500;
}
.login-input:focus{
    outline: 0 !important;
    box-shadow:none;
}
.login-input::before{
    content: "/f2bd";

}
.login-img-wrap{
    padding: 50px;
}
.login-inp-wrapper{
    padding: 0 0 0 45px;
}
.login-inp-pos{
    position: relative;
    margin: 20px 0 5px;
}
.log-inp-icon{
    position: absolute;
    top: 37%;
    left: 1%;
}
.login-label{
    margin: 0 !important;
    font-size: 14px;
    font-weight: 500;
}
.login-btn-f{
    width: 100%;
    background: #0f0f0f;
    border: 1px solid #e0e0e0;
    color: #fff;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    margin: 30px 0;
}
.login-google-btn{
    width: 100%;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    color: #141414;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    margin: 30px 0;
}
.login-google-btn svg{
    font-size: 26px;
}
.log-err{
    color: #9f0000;
    font-size: 12px;
}
.dont-btn-log{
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
.dont-btn-log{
    text-decoration: underline;
    border: none;
    background: transparent;
}
@media only screen and (min-width:1024px) and (max-width:1100px){
    .login-wrapper {
        width: 81%;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px){
    .login-wrapper {
        width: 81%;
    }
}
@media only screen and (max-width:767px){
    .login-wrapper {
        width: 95%;
    }
    .login-img-wrap{
        padding: 0;
    }
    .login-inp-wrapper {
        padding: 0 ;
    }
    /* .login-rev{
        flex-direction: column-reverse;
    } */
}