*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
      max-width: 94%;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 94%;
  }
}